@import "src/App";

.word-card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $mobileDevice) {
    padding: 20px;
    max-width: $mobileDevice;
  }
}

.word-card__field {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}