@import "../../../App";

.word-card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  @media (min-width: $mobileDevice) {
    display: flex;
    flex-direction: column;
  }
}

.word-card__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
  grid-template-rows: repeat(auto-fill, minmax(100px, 170px));
  grid-gap: 10px;
  @media (min-width: $mobileDevice) {
    margin: 0 auto;
    max-width: $mobileDevice;
  }
  @media (min-width: 500px) {
    margin: 0;
    max-width: $tabletDevice;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.word-card__field {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}