@import "../../App";

.landing {
  display: grid;
}

.landing-header {
  color: $golden;
  font-weight: 600;
}

.landing-news {
  padding: 20px;
  display: grid;
  grid-gap: 20px;
  font-size: 15px;
  background-color: $section-deep-bg;
  border: 3px solid $golden;
  max-width: $tabletDevice;
}

.landing-link {
  text-decoration: none;
  color: $golden;
}