@import "../../App";

.dictionary {
  background-color: $black;
  display: grid;
  align-content: space-around;
  align-items: flex-start;
  margin: 20px auto 0;
  @media (min-width: $mobileDevice) {
    max-width: $tabletDevice;
    grid-gap: 5px;
    grid-template-columns: 1fr;
  }
  @media (min-width: $tabletDevice) {
    max-width: $desktopDevice;
  }
  @media (min-width: $desktopDevice) {
    max-width: $largeDesktopDevice;

  }

  @media (min-width: $largeDesktopDevice) {

  }
}

.dictionary__input {
  @media (min-width: $mobileDevice) {
    min-height: 20px;
    line-height: 20px;
  }
  @media (min-width: $desktopDevice) {
    min-height: 25px;
    line-height: 25px;
    font-size: 25px;
  }
}

.dictionary__word {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr;
  background-color: $white;
  color: $black;
  border: 2px solid $black;
  border-right: none;
  justify-content: center;
  @media (min-width: $mobileDevice) {
    grid-template-columns: 0.1fr 0.5fr 0.5fr 2fr 0.5fr;
    max-height: 70px;
  }
  @media (min-width: $tabletDevice) {

  }
}

.dictionary__word-field {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $black;
}

.dictionary__word-field:nth-of-type(2) {
  @media (min-width: $mobileDevice) {
    min-width: 80px;
    min-height: 60px;
    font-size: 20px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 30px;
  }
}

.dictionary__word-field:nth-of-type(3) {
  @media (min-width: $mobileDevice) {
    font-size: 10px;
    min-width: 40px;
    max-width: 50px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 15px;
    min-width: 80px;
    max-width: 150px;
  }
}

.dictionary__word-field:nth-of-type(4) {
  @media (min-width: $mobileDevice) {
    font-size: 11px;
    padding-left: 5px;
    justify-content: flex-start;
  }
  @media (min-width: $tabletDevice) {
    justify-content: inherit;
    font-size: 15px;
  }
}

.dictionary__word-field:last-of-type {
  cursor: pointer;
  &:hover {
    background-color: $golden-rgb3;
  }
}

.dictionary__word-field:last-of-type:after {
  content: "";
  fill: currentColor;
  background-image: url('img/play-button.svg');
  background-repeat: no-repeat;
  @media (min-width: $mobileDevice) {
    width: 25px;
    height: 25px;
  }
  @media (min-width: $tabletDevice) {
    width: 35px;
    height: 35px;
  }
  @media (min-width: $desktopDevice) {
    width: 45px;
    height: 45px;
  }
}

.dictionary__word-field:last-of-type:hover:after {
  fill: red;
}