@import "src/App";

@keyframes correct {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 100% {
    transform: translateY(-5px);
    background-color: $section-deep-bg;
    content: 'CONTENT'
  }
  35%, 75% {
    transform: translateY(-20px);
  }
}

@keyframes color {
  0% {
    background-color: $red-light;
  }
  50% {
    background-color: $red;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.match-the-word {
  @media (min-width: $mobileDevice) {
    display: grid;
    max-width: $tabletDevice;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
  }
  @media (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
}

.match-the-word__word {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $mobileDevice) {
    min-width: 120px;
    min-height: 120px;
    border: 1px $dark solid;
  }
  background-color: white;
}

.match-the-word_animated {
  animation-name: shake;
  animation-duration: 0.6s;
}

.answer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: $mobileDevice) {
    min-width: 120px;
    min-height: 120px;
    border: 1px $dark solid;
  }
}


.undefined,
.incorrect,
.correct {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  border: none;
  color: $black;
  @media (min-width: $mobileDevice) {
    min-width: 120px;
    min-height: 120px;
    font-size: 15px;
    font-weight: 600;
  }
  @media (min-width: $tabletDevice) {
    font-size: 25px;
  }
}

.correct {
  position: relative;
  background-color: $section-super-deep-bg;
  color: $black;
  animation-name: correct;
  animation-duration: 1s;
}

.correct:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  content: 'Correct!';
  font-size: 25px;
  transform: translateY(30px);
}

.incorrect {
  background-color: $red-light;
  animation-name: shake;
  animation-duration: 0.5s;
}

.incorrect:after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  @media (min-width: $mobileDevice) {
    font-size: 12px;
    min-height: 30px;
    content: attr(data-unit);
    transform: translateY(40px);
    max-width: 120px;
  }
  @media (min-width: $tabletDevice) {
    font-size: 15px;
    max-width: 300px;
  }
}

.undefined {
  &:hover {
    background-color: $golden-rgb;
  }
  &:disabled {
    //background-color: $section-deep-bg;
  }
}

.match-the-word__wrapper {
  display: grid;
  position: relative;
  grid-gap: 20px;
}

.match-the-word__global-wrapper {
  margin-top: 30px;
  position: relative;
}

.match-the-word__wrapper:last-of-type {
  padding: 30px 0 30px;
}

.match-the-word__start,
.match-the-word__next,
.match-the-word__restart,
.match-the-word__exit {
  position: relative;
  @media screen and (min-width: $mobileDevice) {
    cursor: pointer;
    background-color: $section-deep-bg;
    min-height: 60px;
    font-size: $medium-font;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    color: $white;
    margin: 0 auto;
    min-width: 200px;
    &:hover {
      background-color: $section-bg;
    }
  }
  @media screen and (min-width: $tabletDevice) {
    font-size: $large-font;
    &:hover {
      background-color: $golden;
      color: $black;
    }
  }
}

.match-the-word__result {
  @media screen and (min-width: $mobileDevice) {
    max-width: $tabletDevice;
    font-size: 30px;
    text-align: center;
    padding: 30px 0 30px 0;
    background-color: $section-super-deep-bg;
    margin: 0 auto 30px;
  }
  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
}

.match-the-word__winner-zone {
  @media screen and (min-width: $mobileDevice) {
    max-width: $tabletDevice;
    display: grid;
    grid-gap: 30px;
    margin: 0 auto;
    background-color: $section-bg;
    padding-bottom: 30px;
  }
  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
  }
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
  }
}

.match-the-word__exit {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-the-word__header-winner {
  text-align: center;
  color: $white;
  @media screen and (min-width: $mobileDevice) {
    font-size: 18px;
  }
  @media screen and (min-width: $tabletDevice) {
    font-size: 25px;
  }
}