@import "src/App";

.registration {
  margin: 0 auto;
  display: grid;
  @media screen and (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    grid-gap: 20px;
  }
  @media screen and (min-width: $tabletDevice) {
    max-width: $tabletDevice;
    padding: 0 20px 0 20px;
  }
}

.registration__form {
  display: grid;
  grid-gap: 10px;
}

.registration__label {
  display: grid;
  grid-gap: 10px;
}

.registration__link {
  display: flex;
  justify-content: center;
  align-items: center;
}