@import "src/App";

.navigation {
  position: relative;
  @media (min-width: $mobileDevice) {
    max-width: $mobileDevice;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 20px;
  }
  @media (min-width: 400px) {
    max-width: $desktopDevice;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  @media (min-width: $desktopDevice) {
    width: 100%;
    margin: 0;
  }
}

.navigation__wrapper {
  display: flex;
}

.navigation__wrapper__hidden {
  display: none;
}

.navigation__links {
  list-style: none;
  margin: 0;
  display: grid;
  grid-gap: 20px;
  @media (min-width: $mobileDevice) {
    font-size: 15px;
  }
  @media (min-width: $desktopDevice) {
    max-width: $desktopDevice;
    grid-template-columns: repeat(6, 0.7fr);
    grid-template-rows: 1fr;
    padding: 0;
  }
}

.navigation__links_hidden {
  display: none;
}

.navigation__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: left;
  position: relative;
  width: 100%;
  @media (min-width: $mobileDevice) {
    font-weight: 600;
    color: $white;
    min-height: 30px;
    font-size: 20px;
    &:hover {
      color: $golden;
    }
  }
  @media (min-width: $tabletDevice) {

  }
  @media (min-width: $desktopDevice) {

  }
  @media (min-width: $largeDesktopDevice) {
  }
}

.navigation__link:after {
  display: block;
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: $golden;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.navigation__link:hover:after{
    transform: scaleX(1);
    transform-origin: center;
}

.navigation__link_hidden {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateX(1000px);

  }
  70% {
    transform: translateX(-30px);

  }
  90% {
    transform: translateX(30px);

  }
  100% {
    transform: translateX(0);
  }
}

//.navigation__animated-link {
//  animation-name: bounce;
//  animation-duration: 1s;
//}

.navigation__menu-button {
  cursor: pointer;
  position: absolute;
  @media (min-width: $mobileDevice) {
    padding: 0;
    right: 40px;
    top: -10px;
    transform: translateX(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    min-height: 30px;
    background-color: $golden;
    border: 2px solid $dark;
    border-radius: 5px;
    font-weight: 600;
    &:hover {
      background-color: $white;
    }
  }
  @media (min-width: 400px) {
    //right: 20px;
    top: -30px;
  }
  @media (min-width: $desktopDevice) {
    display: none;
  }
}