$mobileDevice: 320px;
$tabletDevice: 768px;
$largeTabletDevice: 992px;
$desktopDevice: 1024px;
$largeDesktopDevice: 1440px;

// fonts
$small-font: 12px;
$medium-font: 18px;
$large-font: 24px;
$big-font: 30px;

//color palette
$black: #050814;
$deep-blue: #284277;
$blue: #006bbd;
$juicy-blue: #1b6bb8;
$light-blue: #81c8ee;
$deep-grey: #c1afa8;
$grey: #ede8e4;
$light-grey: #e1e3e5;
$brown: #cfb093;
$white: #fdfdfd;
$white-light: rgba(253, 253, 253, 0.5);

// for help
:root {
  --first: #08d9d6;
  --second: #000000;
  --third: #ff2e63;
  --fourth: #eaeaea;
  --test: #ffd532;

  --one: #733c03;
  --two: #ba6c17;
  --three: #ed8707;
  --four: #0c666e;
  --five: #75b2b7;
  --six: #b9d6d4;
}

//

$dark: #10002B;
$deep-purple: #240046;
$dark-purple: #3C096C;
$purple: #5A189A;
$violet: #7B2CBF;
$orchid: #9D4EDD;
$light-violet: #C77DFF;
$lavender: #E0AAFF;

$red: #b04553;
$red-light: rgba(	176, 69, 83, 0.5);
$rose: #d98c9e;
$amethyst: #d7eae5;
$green: #00e567;
$deep-green: #0c666e;
$lightly-blue: #75b2b7;
$piaoliang: #08d9d6;
$nephrite: #828c83;
$greeny: #6BAF92;
$calm-green: #8DC3A7;
$section-light-bg: rgb(12,102,110, 0.3);
$section-bg: rgb(12,102,110, 0.5);
$section-deep-bg: rgb(12,102,110, 0.7);
$section-super-deep-bg: rgb(12,102,110, 0.85);
$browny: #ed8707;
// some needs:

$navigation-padding-top: 30px;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.app {
  @media (min-width: $mobileDevice) {
    padding: 20px;
  }
  @media (min-width: $tabletDevice) {
    padding: 30px;
  }
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
    margin: 0 auto;
  }
}

.app__label {
  @media (min-width: $mobileDevice) {
    font-family: "Old English Text MT";
    font-size: 30px;
    border-radius: 7px;
    margin: 0;
  }
}

.app__label-bottom {
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $deep-green;
}