$mobileDevice: 320px;
$tabletDevice: 768px;
$largeTabletDevice: 992px;
$desktopDevice: 1024px;
$largeDesktopDevice: 1440px;

// fonts
$small-font: 12px;
$medium-font: 18px;
$large-font: 24px;
$big-font: 30px;

//color palette
$black: #050814;
$deep-blue: #284277;
$blue: #006bbd;
$juicy-blue: #1b6bb8;
$light-blue: #81c8ee;
$deep-grey: #c1afa8;
$grey: #ede8e4;
$light-grey: #e1e3e5;
$brown: #cfb093;
$white: #fdfdfd;

//

$dark: #10002B;
$deep-purple: #240046;
$dark-purple: #3C096C;
$purple: #5A189A;
$violet: #7B2CBF;
$orchid: #9D4EDD;
$light-violet: #C77DFF;
$lavender: #E0AAFF;

$red: #b04553;
$rose: #d98c9e;
$amethyst: #d7eae5;
$green: #00e567;


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App {
  @media (min-width: $mobileDevice) {
    padding: 20px;
  }
  @media (min-width: $tabletDevice) {
    padding: 30px;
  }
  @media (min-width: $largeDesktopDevice) {
    max-width: $largeDesktopDevice;
    margin: 0 auto;
  }
}
